<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Run (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{70,98}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{553,1},{70,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{74,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{239,1},{74,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{76,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{161,1},{76,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{86,98}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{391,1},{86,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{72,98}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{479,1},{72,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{74,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{315,1},{74,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{78,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{78,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{78,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{81,1},{78,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Girl_walk.png</string>
            <key>size</key>
            <string>{624,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6568119a3216ce79d164fde584e7962c:1dc76ad39817536ab48d334d9ef55d4d:95cf08e2255c31de73998d55d5645bb6$</string>
            <key>textureFileName</key>
            <string>Girl_walk.png</string>
        </dict>
    </dict>
</plist>
